@import '../base/_variables.scss';


.gallery {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
    box-sizing: border-box;
    
    * {
        margin: 0;
    }

    &__only-desktop-column {
        max-width: 790px;

        .item-content {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 32px;
        }

    }

    ul {
        list-style-type: none;
        padding: 0;
    }

    button {
        width: 100%;
        border: none;
        padding: 16px;
        font-size: 18px;
        font-weight: bold;
        border-radius: 8px;
        text-align: left;
        background-color: transparent;
        cursor: pointer;
    }

    &__item-title {
        color: map-get($colors, "dark-blue" );
        display: flex;
        justify-content: space-between;
    }

    &__chevron {
        width: 24px;
    }

    &__item-container {
        display: flex;
        flex-direction: column;
        gap: 32px;
    }

    .item-container {

        &--active {
    
            button {
                background-color: map-get($colors, "light-blue" );
            }
        }
    }

    &__main-column {
        max-width: 400px;
        display: flex;
        flex-direction: column;
        gap: 32px;

        .item-content {
            display: none;
        }

    }

    &__items {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    &__photo {
        width: 100%;
    }
    

    &__photo {
        border-radius: 10px;
    }

    &__text {
        text-align: center;
    }
}




@media screen and (max-width: 600px) {
    /* Estilos para dispositivos móviles pequeños */
    

    .gallery {
        display: block;
        gap: 0;
        box-sizing: border-box;

        &__title {
            text-align: center;
        }

        .item-content {
            padding: 20px;
        }
    
        .item-container--active {
            .item-content {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 32px;
            }
        }
    
        &__only-desktop-column {
                display: none;
        }

        &__main-column {
            max-width: none;
        }

        &__item-container {
            border: 1px map-get($colors, "comp-blue" ) solid;
            border-radius: 8px;
            gap: 0;
        }

        button {
            border-radius: 8px 8px 0px 0px;
        }

        .item-container {
    
            &--active {
        
                .item-title {
                    
                    .chevron {
                        transform: rotate(90deg);
                    }
                }
            }
        }
    
    }
}
  
@media screen and (min-width: 600px) and (max-width: 991px) {
    /* Estilos para tabletas */


    .gallery {

        &__title {
            text-align: center;
        }

        .item-content {
            padding: 20px;
        }
    
    
        .item-container--active {
            .item-content {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 32px;
            }
        }
    
        &__only-desktop-column {
                display: none;
        }

        &__item-container {
            border: 1px map-get($colors, "comp-blue" ) solid;
            border-radius: 8px;
            gap: 0;
        }

        &__main-column {
            max-width: none;
        }

        .item-container {
    
            &--active {
        
                .item-title {
                    
                    .chevron {
                        transform: rotate(90deg);
                    }
                }
            }
        }
    
    }
}

@media screen and (min-width: 992px) {
    /* Estilos para computadoras de escritorio */


    .gallery {

        &__chevron {
            display: none;
        }
    }
    
}