

.header {
    align-items: center;
    
    * {
        margin: 0;
    }

    .header {

        &__img-column {
            flex: 1;
        }

        &__copy-column {
            display: flex;
            flex: 1;
            flex-direction: column;
            gap: 64px;
        }

        &__copy-container {
            display: flex;
            flex-direction: column;
            gap: 32px;
        }

        &__btn {
            display: flex;
        }

        &__tag-list {
            display: flex;
        }

    
    }
}


@media screen and (max-width: 600px) {
    /* Estilos para dispositivos móviles pequeños */

    .header {
        text-align: center;

        &__img-column {

            margin-top: 32px;
        }
        
        &__img {
            width: 100%;
        }

        &__copy-column {
            align-items: center;
        }

        &__copy-container {
            align-items: center;
        }
    }
}
  
@media screen and (min-width: 600px) and (max-width: 991px) {
    /* Estilos para tabletas */

    .header {
        text-align: center;

        &__img-column {

            margin-top: 32px;
        }

        &__copy-column {
            align-items: center;
        }

        &__copy-container {
            align-items: center;
        }
    }

}

@media screen and (min-width: 992px) {
    /* Estilos para computadoras de escritorio */

    .header {
        
        &__img {
            height: 500px;
        }

        &__copy-column {
            place-items: flex-start;
        }

        &__copy-container {
            place-items: flex-start;
        }
    }

}