

.header {
    align-items: center;

    .header {

        &__img-column {
            padding-left: 25px;
            padding-right: 25px;
        }
        
        &__img {
            width: 100%;
        }

        &__copy-column {

            * {

                &:not(:first-child):not(:last-child) {
                    margin-top: 44px;
                    margin-bottom: 0;
                }
            }
        }

        &__btn {
            margin-top: 64px;
        }
    
    }
}


@media screen and (max-width: 600px) {
    /* Estilos para dispositivos móviles pequeños */

    .header {
        text-align: center;

        &__img-column {

            margin-top: 32px;
        }
    }
}
  
@media screen and (min-width: 600px) and (max-width: 991px) {
    /* Estilos para tabletas */

    .header {
        text-align: center;

        &__img-column {

            margin-top: 32px;
        }
    }

}

@media screen and (min-width: 992px) {
    /* Estilos para computadoras de escritorio */

}