@import '../base/_variables.scss';

.nav-bar {
    position: fixed;
    padding: 16px;
    box-sizing: border-box;
    margin: 0;
    top: 0;
    width: 100%;
    align-items: center;
    background-color: map-get($colors, "white" );

    &--on-top {
        background-color: transparent;
    }

    &__container {
        display: flex;
        flex-direction: row;
        position: relative;
        height: 48px;
        width: 100%;
        max-width: 1440px;
        padding: 0;
    }

    &__logo {
        width: 100px;
        cursor: pointer;
    }

    ul {
        list-style-type: none;
        margin: 0px;
        padding: 0;
        width: 100%;
        display: flex;
        flex-direction: row;
        gap: 32px;

        li {
            margin-top: -10px;
            cursor: pointer;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    &__hamburguer-btn {
        background-color: transparent;
        height: 40px;
        width: 40px;
        background-image: url('../../imgs/menu.svg');
        float: right;
        border: none;
        cursor: pointer;
    }

}

@media screen and (max-width: 601px) {
    /* Estilos para dispositivos móviles pequeños */
    .nav-bar {

        ul {
            display: none;
        }
        
    
    }
}
  
@media screen and (min-width: 600px) and (max-width: 991px) {
    /* Estilos para tabletas */

    .nav-bar {

        ul {
            display: none;
        }
        
    
    }

}

@media screen and (min-width: 992px) {
    /* Estilos para computadoras de escritorio */

    .nav-bar {
    
        &__hamburguer-btn {
            display: none;
        }
        
    
    }
}