/* Column grid */

.section-container {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    align-content: space-around;
    justify-content: space-between;
    max-width: 1440px;
    margin: 0 auto;
}

/* Responsive */
@media screen and (min-width: 992px) {
    .section-container {
        gap: 80px;
        padding: 64px 32px 64px 32px;
    }

    .container {
        margin-top: 77px;
    }
}

@media screen and (min-width: 601px) and (max-width: 991px) {
    .section-container {
        flex-direction: column;
        gap: 32px;
        padding: 64px 32px 64px 32px;
    }

    .container {
        margin-top: 77px;
    }
}

@media screen and (max-width: 600px) {
    .section-container {
        flex-direction: column;
        gap: 32px;
        padding: 64px 32px 64px 32px;
    }

    .container {
        margin-top: 47px;
    }

}